/* الخلفية العامة */
body {
    background-color: #ffffff; /* أبيض */
    color: #333333;            /* رمادي غامق للكتابة */
}

/* الترويسة والفوتر */
header, footer {
    background-color: #589d62; /* أخضر هادئ */
    color: white;
}

/* العناوين */
h2 {
    color: #589d62; /* أخضر للعناوين */
    border-bottom: 2px solid #fbb0bb; /* وردي باهت كخط سفلي */
}

/* روابط الفوتر واللينكدإن */
footer a,
.links a {
    color: #589d62; /* أخضر للرابط */
}

/* أشرطة المهارات */
.sql { background-color: #aed8c0; }         /* أخضر فاتح جداً */
.python { background-color: #9dd3ae; }
.excel { background-color: #8bc69c; }
.visualization { background-color: #78b989; }

/* خلفية قسم المهارات */
#skills {
    background-color: #f1f1f1; /* رمادي فاتح */
}

/* خلفية قسم الشهادات */
#certificates {
    background-color: #ffffff;
}

